

a{
  color: inherit;
  text-decoration: none;
  display: inline-block;
  padding: 10px 20px ;
  border: 2px solid grey;
  margin: 10px;
  transition: background-color 1s, box-shadow 1s;
  /* transition: all 1s; */
}

/* додати тінь до посилання 0.5s*/

a:hover{
  background-color: aquamarine;
  box-shadow: 0 0 3px black;
}