*{
  box-sizing: border-box;
  background-color: brown;
}


p::first-letter{
  font-size: 36px;
  color: red;
}

p::first-line {
  color: green;
}

p::selection {
  color: wheat;
  background-color: lightcoral;
}

/* content обов'язковий для ::before і p::after*/
p::before {
  content: 'Paragraph: ';
}

p::after {
  content: '!!!';
  color: red;
}
/* За  допомогою ::before, ::after додати до Lorem << >> лапки */

.quotes::before {
  content: '<<';
}

.quotes::after {
  content: '>>';
}