*{
  box-sizing: border-box;
}

header{
  background-color: aquamarine;
  height: 450px;
  position: relative;
}
/* аналогічно розтошувати h1 по центру по горизонталі*/
h1{
  font-size: 52px;
  position: absolute;
  top: 50%; /* відсоток від розміру батьківського елементу */
  left: 50%;
  transform: translate(-50%, -50%); /* відсоток від свого розміру */
}